i{
 color: #B1B1B1;
 font-size: 1.5rem;
 padding: 10px;
 cursor: pointer;
}

body{
 background-color: #DBDBD3;
}

a{
 font-size: 0.8rem;
 color: #6b6b6b;
}

.subtitle{
 font-size: 0.8rem;
}

.greenbox{
 background-color: #009688;
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 15%;
 z-index: 0;
}

.boolzwebapp{
 position: relative;
 z-index: 1;
 height: 95vh;
 margin-top: 2.5vh;
 margin-bottom: 2.5vh;
 background-color: white;
 display: flex;
 padding-left: 0;
 padding-right: 0;
 border: solid 1px #ebe9e980;
}

.chatbar{
 display: flex;
 flex-direction: column;
 width: 40%;
 border-right: solid 1px #ebe9e980;
 height: 100%;
}

.chatbar-header{
 height: 65px;
 background-color: #EAEAEA;
}

.avatarsection{
 height: 100%;
}

.headerpropic{
 aspect-ratio: 1;
 height: 100%;
 border-radius: 50%;
}

.chatbar-notification{
 background-color: #8EDAFC;
 height: 75px;
 display: flex;
 align-items: center;
}

.silentbell {
 background-color: #F2FBFF;
 border-radius: 50%;
 height: 100%;
 aspect-ratio: 1;
 display: flex;
 align-items: center;
 justify-content: center;
}

.silentbell i{
 color: #8EDAFC;
}

.chatbar-search{
 height: 55px;
 background-color: #FAFAFA;
}

.chatbar-search i{
 padding: 0;
 font-size: 0.9rem;
}

.chatbar-list-item{
 height: 75px;
 border-bottom: 1px solid #ebe9e980;
}

.chatbar-list-item:first-child{
 border-top: 1px solid #ebe9e980;
}

.chatbar-list-item:hover{
 background-color: #E9EBEB;
 cursor: pointer;
}

.chatbar-list-item .subtitle{
 color: #9e9b9b;
}

.chatbox{
 width: 60%;
}

.messagesbox{
 background-image: url(../img/mine.jpg);
}

.messagecloud{
 width: 300px;
 height: 50px;
 border-radius: 10px;
}

.sent{
 background-color: #D5F9BA;
 align-self: end;
}

.received{
 background-color: #FFFFFF;
 align-self: start;
}

.message-time{
 align-self: flex-end;
 color: #9e9b9b;
 font-size: 0.7rem;
}

.chatbar-inputsection{
 height: 70px;
 background-color: #F3EEEA;
}

.textbox input{
 border: none;
 padding: 0.8rem 0.75rem;
 font-size: 0.8rem;
}

.chatbar-inputsection i{
 color: #6B7376;
}